In [38]:
import requests
from bs4 import BeautifulSoup
url = 'https://www.reservoirbirds.com/index.asp'
r = requests.get(url)
html_contents = r.text
bs = BeautifulSoup(html_contents, 'lxml')

In [49]:
especie=[]
tr = bs.find_all('a', {'title':'Filtra por especie'})
for item in tr:    
    result= item.get_text()
    result= result.replace('\n', '')
    result= result.replace('  ', '')
    result= result.replace('\xa0', '')
    especie.append(result)

In [51]:
fecha=[]
tr1 = bs.find_all('a', {'title':'Filtra por fecha'})
for item in tr1:    
    result= item.get_text()
    result= result.replace('\n', '')
    result= result.replace('  ', '')
    result= result.replace('\xa0', '')
    fecha.append(result)

In [53]:
zona=[]
tr2 = bs.find_all('a', {'title':'Localiza la zona en el mapa'})
for item in tr2:    
    result= item.get_text()
    result= result.replace('\n', '')
    result= result.replace('  ', '')
    result= result.replace('\xa0', '')
    zona.append(result)

In [61]:
import pandas as pd
df_tuples=list(zip(especie,fecha,zona))
df=pd.DataFrame(df_tuples, columns=['Specie', 'Date', 'Location'])

In [62]:
df

,Specie,Date,Location
0,Motacilla tschutschensis,15/03/2020,"Morro Jable, Pájara, Fuerteventura (Las Palmas)"
1,Oenanthe isabellina,15/03/2020,"Pájara, Fuerteventura (Las Palmas)"
2,Oenanthe isabellina,15/03/2020,"Pájara, Fuerteventura (Las Palmas)"
3,Larus dominicanus,15/03/2020,"Pájara, Fuerteventura (Las Palmas)"
4,Oenanthe isabellina,14/03/2020,"La Oliva, Fuerteventura (Las Palmas)"
...,...,...,...
70,Oenanthe deserti,08/03/2020,Abona (Santa Cruz de Tenerife)
71,Bucephala clangula,08/03/2020,Cospeito (Lugo)
72,Bucephala clangula,08/03/2020,Cospeito (Lugo)
73,Branta bernicla hrota,08/03/2020,Moaña (Pontevedra)
74,Ardea alba,08/03/2020,Cospeito (Lugo)